$primary              : #0071CE;
$secondary            : #DD0021;
$tertiary             : #FBD500;

$md-primary-sod-color : (
        50 : #E0EEF9,
        100 : #B3D4F0,
        200 : #80B8E7,
        300 : #4D9CDD,
        400 : #2686D5,
        500 : #0071CE,
        600 : #0069C9,
        700 : #005EC2,
        800 : #0054BC,
        900 : #0042B0,
        A100 : #DAE5FF,
        A200 : #A7C1FF,
        A400 : #749EFF,
        A700 : #5A8CFF,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #FFFFFF,
                500 : #FFFFFF,
                600 : #FFFFFF,
                700 : #FFFFFF,
                800 : #FFFFFF,
                900 : #FFFFFF,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$md-second-sod-color  : (
        50 : #FBE0E4,
        100 : #F5B3BC,
        200 : #EE8090,
        300 : #E74D64,
        400 : #E22642,
        500 : #DD0021,
        600 : #D9001D,
        700 : #D40018,
        800 : #CF0014,
        900 : #C7000B,
        A100 : #FFEFEF,
        A200 : #FFBCBD,
        A400 : #FF898B,
        A700 : #FF6F72,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #FFFFFF,
                400 : #FFFFFF,
                500 : #FFFFFF,
                600 : #FFFFFF,
                700 : #FFFFFF,
                800 : #FFFFFF,
                900 : #FFFFFF,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$md-accent-sod-color  : (
        50 : #FFFAE0,
        100 : #FEF2B3,
        200 : #FDEA80,
        300 : #FCE24D,
        400 : #FCDB26,
        500 : #FBD500,
        600 : #FAD000,
        700 : #FACA00,
        800 : #F9C400,
        900 : #F8BA00,
        A100 : #FFFFFF,
        A200 : #FFF9EB,
        A400 : #FFEBB8,
        A700 : #FFE49F,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #000000,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

