@import "colors";

//region Owner Styles
.no-select {
  user-select : none;
}

.rel-pos {
  position : relative;
}

.mat-form-field-infix {
  width : auto !important;
}

//endregion

//region Scrollbar
::-webkit-scrollbar {
  width  : 8px;
  height : 8px;
}

::-webkit-scrollbar-button {
  width  : 0;
  height : 0;
}

::-webkit-scrollbar-thumb {
  background    : #A1A1A1;
  border        : 0 none #FFFFFF;
  border-radius : 50px;
}

::-webkit-scrollbar-thumb:hover {
  background : #9C9C9C;
}

::-webkit-scrollbar-thumb:active {
  background : #7A7A7A;
}

::-webkit-scrollbar-track {
  background    : #FFFFFF;
  border        : 0 none #FFFFFF;
  border-radius : 50px;
}

::-webkit-scrollbar-track:hover {
  background : #FFFFFF;
}

::-webkit-scrollbar-track:active {
  background : #D9D9D9;
}

::-webkit-scrollbar-corner {
  background : transparent;
}

//endregion

//region NG-SELECT IMPROVED STYLES
$fontSize   : 12px;

.ng-select-error-text-sod {
  position  : absolute;
  top       : calc(100% - 0px);
  left      : 10px;
  color     : red;
  font-size : 65%;
}

.ng-select-pd-error-text-sod {
  position  : absolute;
  top       : calc(100% - 18px);
  left      : 10px;
  color     : red;
  font-size : 65%;
}

// NG-Select Normal
ng-select {
  font-size      : $fontSize !important;
  padding-bottom : 16.125px !important;
  top            : -2px !important;

  & .ng-placeholder {
    top : 13px !important;
  }

  &.ng-select-disabled div.ng-select-container.ng-appearance-outline:hover:after {
    border : solid 1px #0000001F !important;
  }

  & .ng-select-container {
    min-height : 47px !important;

    /*&.ng-appearance-outline:hover:after {
      border-color : $primary !important;
    }*/
  }

  & .ng-spinner-loader {
    top               : 14px !important;
    border-left-color : $primary !important;
  }

  & div {
    font-size : $fontSize !important;
  }

  & input {
    padding-left   : 8px !important;
    font-size      : $fontSize !important;
    width          : calc(100% - 60px) !important;
    padding-bottom : 6px !important;
    font-family    : inherit !important;
  }

  & .ng-value.ng-star-inserted {
    padding-top    : 7px;
    padding-bottom : 7px;
    line-height    : $fontSize;
  }

  & .ng-clear-wrapper {
    bottom : 10px !important;
  }

  & .ng-arrow-wrapper {
    bottom : 14px !important;
  }

  &.ng-invalid.ng-touched {
    & .ng-placeholder {
      color : $secondary !important;
    }

    & .ng-appearance-outline:after {
      border : $secondary 2px solid !important;
    }

    & .ng-arrow {
      color : $secondary !important;
    }
  }
}

.ng-select.ng-select-disabled .ng-select-container:after {
  background : none !important;
}

// NG-Select Multiple
.multi-select {
  & .ng-value.ng-star-inserted {
    background-color : $primary !important;
    padding          : 5px !important;
    border-radius    : 7px !important;
  }

  & input {
    width : auto !important;
  }

  & span {
    margin-left : 4px;
  }

  & .ng-option {
    padding      : 0 !important;
    padding-left : 5px !important;

    &.ng-option-selected {
      color : $primary !important;
    }
  }
}

// both of them
.ng-dropdown-panel {
  &.ng-select-bottom {
    top : calc(100% - 16px);
  }

  &.ng-select-top {
    bottom : calc(100% - 0px);
  }
}

.ng-select .ng-select-container{
  color: white;
}

//endregion

// region Utils Styles
$increments : (0, 4, 8, 12, 16, 20, 24, 32, 40, 48, 56, 64, 72, 80, 88, 102, 118, 124, 136, 148);
$directions : (top, bottom, right, left);
@each $increment in $increments {
  .m-#{$increment} {
    margin : #{$increment}px !important;
  }
  .p-#{$increment} {
    padding : #{$increment}px !important;
  }
  @each $direction in $directions {
    .m#{str-slice($direction, 0, 1)}-#{$increment} {
      margin-#{$direction}: #{$increment}px !important;
    }
    .p#{str-slice($direction, 0, 1)}-#{$increment} {
      padding-#{$direction}: #{$increment}px !important;
    }
  }
}

@each $increment in $increments {
  .icon-size-#{$increment} {
    height      : #{$increment}px !important;
    min-height  : #{$increment}px !important;
    width       : #{$increment}px !important;
    min-width   : #{$increment}px !important;
    font-size   : #{$increment}px !important;
    line-height : #{$increment}px !important;
  }
}

.text-ellipsis {
  text-overflow : ellipsis;
  white-space   : nowrap;
  overflow      : hidden;
}

.font-size-11 {
  font-size : 11px !important;
}

@for $size from 1 through 60 {
  .font-size-#{$size * 2} {
    font-size : #{$size * 2}px !important;
  }
}

.color-gray {
  color : #707070;
}

.text-bold, strong {
  font-weight : 700;
}

.w-100-p {
  width : 100% !important;
}

.h-100-p {
  height : 100% !important;
}

.text-align-end {
  text-align : end !important;
}

.text-align-center {
  text-align : center !important;
}

.over-flow-auto {
  overflow-y : auto;
}

// endregion
